<div id="calendar"></div>

<div class="dialog ui-helper-hidden" id="eventDialog">
	<form>
		<div>
			<label for="title">Title</label>
			<input class="field" id="title" name="title" type="text">
		</div>
	</form>
</div>